joined_data_standar.json
joined_data_*
job_vector*
ofertas_con_embeddings.json
joined_data_standar_old.json
job_vectors_instructorxl.pkl
__pycache__/config.cpython-313.pyc
secrets.toml
job_vectors.pkl
trying_together.py
trying_deepseek.py
__pycache__/prompts.cpython-313.pyc
__pycache__/streamlit_app.cpython-313.pyc
*.json
pages/prueba_CV.py
pages/prueba_compleja.py
pages/plantilla_cv.tex
pages/plantilla_cv_segura.tex
pages/Juan_Luis_Perez_CV_ATS.pdf
pages/generar_cv_infalible.py
pages/generar_cv_final.py
pages/cv.pdf
pages/cv.docx
pages/cv_template.tex
pages/cv_template_jinja.tex
pages/cv_template_avanzado.tex
pages/cv_simple.tex
pages/cv_simple.pdf
pages/cv_simple.log
pages/cv_simple.aux
pages/cv_professional.tex
pages/cv_professional.pdf
pages/cv_generado.tex
pages/cv_generado.pdf
pages/cv_final.tex
pages/cv_final.out
pages/cv_final.log
pages/cv_final.aux
__pycache__/data_loader.cpython-313.pyc
