joined_data_standar.json
joined_data_*
job_vector*
ofertas_con_embeddings.json
joined_data_standar_old.json
job_vectors_instructorxl.pkl
__pycache__/config.cpython-313.pyc
secrets.toml
job_vectors.pkl
trying_together.py
trying_deepseek.py
__pycache__/prompts.cpython-313.pyc
__pycache__/streamlit_app.cpython-313.pyc
*.json